.offerScreen{
    width: 100%;
    height: 100vh;
    /* background-color: black; */
    
    

}
.offerScreen-Box1{
    width: 100%;
    height: 100vh;
    /* background-color:red; */
    display: flex;
    flex-direction: column;
    gap: 8px;
    /* padding: 8px 100px 8px ; */
    
}
.offerScreen-Box2{
    width: 100%;
    height: 80px;
    font-family: Montserrat;
    font-size: 44px;
    font-weight: 700;
    line-height: 54px;
    letter-spacing: 0em;
    text-align: center;
    background:  linear-gradient(90deg, #FFBA00 0%, #FF2542 95.48%);
    padding: 8px 0px 0px 0px;
    color: transparent;
    background-clip: text; 
  

   display: flex;
    align-items: center;
    justify-content: center;
}
.offerScreen-Box3{
    width: 100%;
    height: 100%;
    background-color: blue;
    display: flex;
    z-index: 1000;
   
}
.offerScreen-Box3-1{
    width: 100%;
    height: 100%;
    background-color:violet;
    display: flex;
    flex-direction: column;
   gap: 10px;
   /* padding-left: 20px; */

}
.offerScreen-Box3-2{
    width: 100%; 
    height: 100%; 
    display: flex;
    flex-direction: column;
    gap: 10px;
   
}
.not{
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    display: flex;
    align-items: center;
    color: #3E2B21;
    background-color: #FFBA00;
    /* padding-left: 70px; */

}
.p1{
    padding: 0px 15px 0px 10px;
}
.p2{
    padding: 0px 10px 0px 0px;
    
}
.para2{
   
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    display: flex;
    align-items: center;
    color: #3E2B21;
   
}
.offerScreen-Box4{
    width: 100%;
    height: auto;
    background-color: #FF2542;
    /* padding: 0px; */
}
.poly{
    width: 100%;
    /* height: 50%; */
    padding: 0px; 
    border-radius: 12px;

}