.navbar{
    width: 100%;
    height: 80px;
    display: flex;
    z-index: 1000;
    top: 0;
}
.websiteHeader-Box1{
    width: 100%;
    height: 100%;
    padding: 0px 0px 0px 20px ;
    display: flex; 
    align-items: center; 
    @media Screen and (max-width: 560px)  {
        padding: 0px 0px 0px 6px;
       }
   
}
.logo{
    @media Screen and (max-width: 560px) {
        width: 60%;
       }
}

.websiteHeader-Box2{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    @media Screen and (max-width: 990px) {
      display: none;
    }
   
}  
.websiteHeader-Box3{
    width: 100%;
    height: 100%;
    display: flex;
    gap: 10px; 
    flex: 5;
    align-items: center;
}  
 .item{
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}

.websiteHeader-Box4{
    width: 100%;
    height: 100%;
    flex: 1;
    display: flex;
    align-items: flex-end;
} 


.search{
   
   background-color: transparent;
   color: #FFFFFF;
   border: 1.5px solid #FFFFFF
}
.search:hover {
   
    color: #FFFFFF !important;
    border: 1.5px solid #FFFFFF !important;
}


.websiteHeader-Box5{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0px 0px 0px 0px;

}
.websiteHeader-Box6{
    width: 60%;
    padding: 0px 25px 0px 25px;
    border-radius: 50px;
    background: linear-gradient(90deg, #FFB700 0%, #FF2544 95.48%);
    align-items: center;
}  
.websiteHeader-Box6 button{
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0em; 
    text-align: left;
    color: #FFFFFF;
   
}
.websiteHeader-Box6 button:hover {
   
    color: #FFFFFF !important;
    
}

.si{
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* font-size: 40px; */

    @media Screen and (min-width: 990px) {
        display: none;
      }
      @media Screen and (max-width: 560px) {
        justify-content: flex-end;
        padding: 0px 7px 0px 0px;
       }
}

  
